<div class="reset-container">
    <div class="reset-box">
        <h2>Reset your password</h2>
        <p class="subtitle">Enter a new password to continue</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="password">New Password</label>
                <div class="password-wrapper">
                    <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                    <button type="button" (click)="togglePasswordVisibility()" class="eye-button">
                        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>

                <div class="error" *ngIf="firstSubmited && form.controls['password'].invalid">
                    <small *ngIf="form.controls['password'].errors?.['required']">Password is required.</small>
                    <small *ngIf="form.controls['password'].errors?.['minlength']">Min. 6 characters.</small>
                    <small *ngIf="form.controls['password'].errors?.['doesNotContainSpecialCharacter']">
                        At least 1 special character required.
                    </small>
                </div>
            </div>

            <div class="form-footer">
                <button type="submit" [disabled]="form.invalid && firstSubmited">Reset Password</button>
                <p [ngClass]="logginInfo.status">{{ logginInfo.message }}</p>
            </div>
        </form>
    </div>
</div>
  