.forgot-password-container {
    background-color: #FAF2EC;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    margin-bottom: 1rem;
}

.form-box {
    background: #ccf7c9;
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 0.95rem;
    color: #333;
    margin-bottom: 1rem;
}

.form-row {
    text-align: left;
    margin-bottom: 1rem;

    label {
        font-size: 1.2rem;
        display: block;
        margin-bottom: 0.25rem;
    }

    input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.btn-recovery {
    background-color: #f25a2f;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #d04920;
    }
}

.full-width {
    width: 100%;
}

.small-text {
    font-size: 0.9rem;
    margin-top: 1rem;

    a {
        color: #3e9a00;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}