<section class="about-container">
    <div class="about-content">
        <h1>About SmartChef</h1>
        <p>
            <strong>SmartChef</strong> is your intelligent cooking assistant designed to make everyday meals smarter, healthier, and easier to prepare. With
            just a photo of your available ingredients, SmartChef uses advanced computer vision powered by YOLOv8 to recognize
            what's in your kitchen.
        </p>
        <p>
            Based on the detected ingredients, the app recommends suitable recipes from our curated collection.
        </p>
        <p>
            As you explore recipes, SmartChef helps you understand your food preferences and tracks what types of meals you enjoy
            most. It also estimates the number of calories in each dish and categorizes recipes using the Nutri-Score system (A to
            D) to help you make informed, healthier choices.
        </p>
        <p>
            SmartChef combines simplicity with smart technology, offering personalized suggestions, visual ingredient recognition,
            nutrition tracking, and meal planning all in one platform. Whether you're a beginner or a seasoned home cook, SmartChef
            is here to support and inspire your culinary journey.

        </p>
    </div>
    <img src="assets/img/hero_ingredients.png" alt="SmartChef Ingredients" />
</section>
  