<footer class="site-footer">
    <div class="columns">
        <div class="left">
            <h3>Sitemap</h3>
            <a routerLink="/" >Home</a>
            <a (click)="onProtectedAction('/recipes')">Recipes</a>
            <a routerLink="/about">About</a>
            <a routerLink="/contact-us">Contact</a>
        </div>

        <div class="right">
            <p>Explore. Cook. Share.</p>
            <div class="social">
                <img src="assets/img/instagram-logo-black.png" />
                <img src="assets/img/facebook-logo-black.png" />
                <img src="assets/img/x-logo-black.png" />
                <img src="assets/img/linkedin-logo-black.png" />
            </div>
            <small>© 2025 SmartChef. All rights reserved.</small>
        </div>
    </div>
</footer>