<div class="container">

<div class="top-bar">
    <div class="filters">
        <button (click)="filter('all')" [class.active]="selected === 'all'">All</button>
        <button (click)="filter('favorite')" [class.active]="selected === 'favorite'">Favorites</button>
        <button (click)="filter('tried')" [class.active]="selected === 'tried'">Tried</button>
        <button (click)="filter('mine')" [class.active]="selected === 'mine'">Mine</button>
    </div>
    <div class="add-btn-container">
        <button class="add-btn" (click)="addNewRecipe()">Add Recipe</button>
    </div>
</div>

<div class="statistics">
    <div class="circle" *ngFor="let stat of stats">
        <svg viewBox="0 0 36 36">
            <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 1 1 0 31.831 a 15.9155 15.9155 0 1 1 0 -31.831" />
            <path class="circle-progress" [attr.stroke-dasharray]="stat.percent + ', 100'"
            [ngClass]="stat.label"
            d="M18 2.0845 a 15.9155 15.9155 0 1 1 0 31.831 a 15.9155 15.9155 0 1 1 0 -31.831" />
            <text x="18" y="20.35" class="percentage">{{ stat.count }}</text>
        </svg>
        <div class="label">Class {{ stat.label }}</div>
    </div>
</div>
<div class="recipes">
    <app-user-recipe-card *ngFor="let recipe of paginatedRecipes" [recipe]="recipe" [isOwnProfile]="true"
        (view)="viewRecipe(recipe)" (delete)="deleteRecipe(recipe)" (edit)="editRecipe(recipe)">
    </app-user-recipe-card>
</div>
<div class="pagination" *ngIf="totalPages > 1">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>

    <button *ngFor="let p of [].constructor(totalPages); let i = index" (click)="goToPage(i + 1)"
        [class.active]="i + 1 === currentPage">
        {{ i + 1 }}
    </button>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
  
  
</div>